@import "normalize";
@import "variables";
@import "mixins";
@import "slider-base";
@import "fonts";


html {
  font-size: 61.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  line-height: 1.4;
  height: 100%;
  color: $main1;
  font-weight: 400;
  background-color: $main2
}

::-moz-selection {
  background: $color2;
  text-shadow: none;
}

::selection {
  background: $color2;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: $main1;

  &:hover {
    color: $color1
  }

  &:active {
    color: $color2;
  }
}

ul, ol {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}



img {
  max-width: 100%;
  height: auto;
}
h2 {
  font-size: 1.85rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1,
h2,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
